 <form action="">
     <div class="form-group roww">
         <fieldset>
             <label for="">
                 <legend>Nom</legend>
                 <input type="text" placeholder="votre nom">
                 <legend>Sujet</legend>
                 <input type="text" placeholder="votre sujet">
                <legend>Adresse de messagerie</legend>
                <input type="text" placeholder="votre mail">
                <legend>Votre de message</legend>
                <input type="text" placeholder="messaget">
                <legend></legend>
                 <button class="button-change-titre" type="submit" >connecter</button>
             </label>
         </fieldset>
     </div>
 </form>