.footer-section{

    display:flex;
    justify-content: center;
    background-color: #1c6a9d;
    color:white;
    height:5rem ;
    align-items: center;
    position: absolute;
    bottom: 0%;
    left:0;
    right: 0;
}

 