<nav   class="header">
    <div class="menu">
        <a [routerLink]="['/accueil']" routerLinkActive="active">
          Accueil
        </a>
        <a [routerLink]="['/edition']" routerLinkActive="active">
          Edition du mois
        </a>
        <a [routerLink]="['/archives']" routerLinkActive="active">
          Archives
        </a>
        <a [routerLink]="['/proposer-contenus']" routerLinkActive="active">
            Proposer des contenus
          </a>
          <a [routerLink]="['/contact']" routerLinkActive="active">
            Contact
          </a>
          <a [routerLink]="['/login']" routerLinkActive="active">
            Se connecter
          </a>
    </div> 
  </nav>